setuptools~=72.2.0
httptools>=0.6.1
pyserial~=3.5
tornado==6.4.1
websockets==12.0
uvicorn~=0.30.6
starlette>=0.37.2
fastapi~=0.112.0
pip>=24.2
ping3~=4.0.8
fastapi-camelcase>=2.0.0
pydantic~=2.8.2
requests==2.32.3
urllib3~=2.2.2
pylint==3.3.1
pylintfileheader==1.0.0
